body {
	background-color: #24304C
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.div1 {
	margin-right: 250px;
	margin-left: 250px;
	border: 3px solid white;
	padding: .5em;
	overflow: hidden;
}
p {
	color: white;
}
.first {
	float: left;
}
.second {
	float: right;
}
h1 {
	color: white;
}